# GIT ignore information

# Ignore file backups
*~

# Ignore compiled and generated stuff
target/*

# Ignore runtime data + database information
pndmanager/*

# Ignore Derby server log information
derby.log

# Ignore Eclipse project files
.classpath
.project

# Ignore random stuff
.manager/*
profiles.xml
