/*
 * CSS file for all pages
 */
 
/* Misc */
:focus {
    outline: none;
}

.container {
    width: 790px !important;
}

p {
    text-indent: 0 !important; /* override built-in CSS */
    margin-top: 1.5em !important;
}

.tiny {
    font-size: 0.5em;
    margin: 0;
    padding: 0;
}

.openid-url {
    padding-left: 16px;
    background: transparent url(../images/openid-icon.png) no-repeat center left;
}

#ajax-loader {
    margin-top: 1em;
}

/* Page header */
.page-header {
    background: transparent url(../images/banner.png) center right no-repeat;
}

.page-header h1 a {
    color: #666;
    text-decoration: none;
    font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
    font-style: italic;
    font-weight: normal;
}

.page-title {
    margin: 0 !important;
}

/* Menu */

.sidebar ul {
    margin: 0;
    padding: 0;
}

.menuitem ul, .selectedmenu ul {
    margin-left: 20px;
    border-bottom: none;
}

.menuitem ul li, .selectedmenu ul li {
    border: none;
}

.menuitem, .selectedmenu {
    margin: 0;
    padding: 0;
    border-bottom: none;
    list-style: none;
}

.menuitem a {
    display: block;
    padding: 1px;
    padding-left: 5px;
    text-decoration: none;
}

.selectedmenu span {
    display: block;
    padding: 1px;
    padding-left: 15px;
    text-decoration: none;
}

.menuitem a:hover {
    background-color: #eee;
}

.witharrow {
    background: url(../images/menu.gif) center left no-repeat;
}

.returnlink {
    background: url(../images/go-previous.png) center left no-repeat;
    padding-left: 16px;
}

.loginbox table {
    padding: 0;
    margin: 0;
}