/*
 * CSS file for pages that deal with displaying package entries
 */

/* All display modes and "view" */
.thumbnail, .screenshot {
    text-align: center;
    border: thin solid gray;
}

.nothumbnail {
    line-height: 75px;
}

.noscreenshot {
    line-height: 150px;
}

.buttoncontainer {
    width: 16px;
}

.downloadlink {
    display: block;
    padding: 5px;
    height: 1em;
    width: 8em;
    line-height: 1em;
    text-decoration: none;
    text-align: center;
    color: #465A00;
    font-weight: bolder;
    border: medium solid #C4FF00;
    background: url(../images/download-button.png) repeat 0px -350px;
}

.downloadlink:hover {
    background-position: 0 0;
    color: white;
    border-color: #7DA000;
}

.header {
    padding-left: 12px;
}

.sortable {
    background-repeat: no-repeat;
    background-position: left center;
}

.sortable a {
    color: black;
    text-decoration: none;
}
.sortable a:hover,
.sortable a:focus {
    text-decoration: underline;
}

.ascending {
    background-image: url(../images/sort-ascending.png);
}

.descending {
    background-image: url(../images/sort-descending.png);
}

.unsorted {
    background-image: url(../images/sort-unsorted.png);
}

.pagenavigator {
    clear: both;
}

.next {
    float: right;
    line-height: 2em;
    padding-right: 18px;
    margin-right: 5px;
    text-align: right;
    background: transparent url(../images/go-next.png) no-repeat right center;
}

.prev {
    float: left;
    line-height: 2em;
    padding-left: 18px;
    margin-left: 5px;
    text-align: left;
    background: transparent url(../images/go-previous.png) no-repeat left center;
}

.pagenr {
    text-align: center;
    line-height: 2em;
}

/* The "Rich" display mode */

/*Headers*/
#smallicon-header {
    padding: 5px;
    width: 42px;
}

#smallicon-header div {
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 3em;
    background-color: white;
    border: thin solid gray;
}

/*Entries*/
.title-entry {
    font-size: 2em;
    line-height: 1em;
    padding-bottom: 0;
}

.name-entry {
    padding-top: 0;
}