/*
 * CSS file for pages that deal with displaying package entries
 */

/* All display modes and "view" */
.thumbnail, .screenshot {
    text-align: center;
    border: thin solid gray;
}

.nothumbnail {
    line-height: 75px;
}

.noscreenshot {
    line-height: 150px;
}

.buttoncontainer {
    width: 16px;
}

.downloadlink {
    background: url(../images/download.png) left center no-repeat;
    padding-left: 16px;
}

.header {
    padding-left: 12px;
}

.sortable {
    background-repeat: no-repeat;
    background-position: left center;
}

.sortable a {
    color: black;
    text-decoration: none;
}
.sortable a:hover,
.sortable a:focus {
    text-decoration: underline;
}

.ascending {
    background-image: url(../images/sort-ascending.png);
}

.descending {
    background-image: url(../images/sort-descending.png);
}

.unsorted {
    background-image: url(../images/sort-unsorted.png);
}

/* The rich display mode */

.rich-list .header {
    display: block;
    position: absolute;
    margin: 5px;
}

.rich-headers {
    display: block;
    position: relative;
    height: 3em;
    background: #C3D9FF none repeat scroll 0 0;
    font-weight: bold;
}

.rich-list .header-1 {
    top: 0 !important;
    bottom: 0;
    margin-top: 5px !important;
    padding: 0;
    width: 100px;
    text-align: center;
    line-height: 2em;
    border: thin solid gray;
    background-color: white;
}

.rich-headers .even {
    top: 0%;
}

.rich-headers .odd {
    top: 50%;
    margin-top: 0;
}

.rich-list .header-2,
.rich-list .header-3,
.rich-list .entry-2,
.rich-list .entry-3 {
    margin-left: 20%;
}

.rich-list .header-4,
.rich-list .header-5,
.rich-list .entry-4,
.rich-list .entry-5 {
    margin-left: 40%;
}

.rich-list .header-6,
.rich-list .header-7,
.rich-list .entry-6,
.rich-list .entry-7 {
    margin-left: 60%;
}

.rich-list .header-8,
.rich-list .header-9,
.rich-list .entry-8,
.rich-list .entry-9 {
    margin-left: 80%;
}

.rich-list .row {
    display: block;
    height: 77px;
    position: relative;
    padding: 5px;
}

.rich-list .row.even {
    background: #E5ECF9 none repeat scroll 0 0;
}

.rich-list .entry {
    display: block;
    width: 20%;
    height: 50%;
    vertical-align: middle;
    position: absolute;
    padding-top: 5px;
}

.rich-list .entry-1 {
    top: 0 !important;
    left: 5px;
}

.rich-rows .entry.even {
    top: 0%;
}

.rich-rows .entry.odd,
.rich-list .delete {
    top: 50%;
}

.rich-list .details,
.rich-list .delete,
.rich-list .downloadlink {
    position: absolute;
    right: 0px;
    height: 25px;
    line-height: 25px;
    text-align: right;
    margin-top: 5px;
    padding-right: 18px;
    padding-left: 0;
    text-decoration: underline;
}
.rich-list .details *,
.rich-list .delete *,
.rich-list .downloadlink * {
    display: inline;
}

.rich-list .details {
    top: 33%;
    background: transparent url(../images/details.png) no-repeat right center;
}

.rich-list .delete {
    top: 66% !important;
    margin-top: 0;
    background: transparent url(../images/delete.png) no-repeat right center;
}

.rich-list .downloadlink {
    background: transparent url(../images/download.png) no-repeat right center;
    margin-right: 5px;
}

.next {
    float: right;
    line-height: 2em;
    padding-right: 18px;
    margin-right: 5px;
    text-align: right;
    background: transparent url(../images/go-next.png) no-repeat right center;
}

.prev {
    float: left;
    line-height: 2em;
    padding-left: 18px;
    margin-left: 5px;
    text-align: left;
    background: transparent url(../images/go-previous.png) no-repeat left center;
}