/*
 * Styles for the messaging system
 */
 
.error, .success, .notice {
    margin: 0;
    padding: 0.5em;
    display: none;
}

.error ul, .success ul, .notice ul {
    margin: 0;
    display: inline;
    list-style: outside none;
}

.error li, .success li, .notice li {
    margin: 0;
    display: block;
    padding: 0 0 0 1.3em;
}
